In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("AB_NYC_2019.csv")

In [13]:
df.duplicated().sum()

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
df.duplicated(keep=False).sum()

In [27]:
df[df.duplicated()]

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [23]:
df["neighbourhood_group"].duplicated()

0        False
1        False
2         True
3         True
4         True
         ...
48890     True
48891     True
48892     True
48893     True
48894     True
Name: neighbourhood_group, Length: 48895, dtype: bool

In [25]:
df[df.duplicated(keep="last")]

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [34]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,clean & quiet apt home by the park,2787,john,brooklyn,kensington,40.64749,-73.97237,private room,149,1,9,2018-10-19,0.21,6,365
1,2595,skylit midtown castle,2845,jennifer,manhattan,midtown,40.75362,-73.98377,entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,the village of harlem....new york !,4632,elisabeth,manhattan,harlem,40.80902,-73.94190,private room,150,3,0,NaN,NaN,1,365
3,3831,cozy entire floor of brownstone,4869,lisaroxanne,brooklyn,clinton hill,40.68514,-73.95976,entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,entire apt: spacious studio/loft by central park,7192,laura,manhattan,east harlem,40.79851,-73.94399,entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,charming one bedroom - newly renovated rowhouse,8232441,sabrina,brooklyn,bedford-stuyvesant,40.67853,-73.94995,private room,70,2,0,NaN,NaN,2,9
48891,36485057,affordable room in bushwick/east williamsburg,6570630,marisol,brooklyn,bushwick,40.70184,-73.93317,private room,40,4,0,NaN,NaN,2,36
48892,36485431,sunny studio at historical neighborhood,23492952,ilgar & aysel,manhattan,harlem,40.81475,-73.94867,entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd st. time square-cozy single bed,30985759,taz,manhattan,hell's kitchen,40.75751,-73.99112,shared room,55,1,0,NaN,NaN,6,2
48894,36487245,trendy duplex in the very heart of hell's kitchen,68119814,christophe,manhattan,hell's kitchen,40.76404,-73.98933,private room,90,7,0,NaN,NaN,1,23