In [40]:
import numpy
import pandas as pd

In [18]:
lst=[1,2,3,4,5]

In [20]:
numpy.array(lst)

array([1, 2, 3, 4, 5])

In [42]:
pd.Series([lst,lst,lst])

0    [1, 2, 3, 4, 5]
1    [1, 2, 3, 4, 5]
2    [1, 2, 3, 4, 5]
dtype: object

In [26]:
[lst,lst,lst]

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [44]:
df=pd.DataFrame([lst,lst,lst],columns=['A','B','c','d','e'])

In [46]:
df

   A  B  c  d  e
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [50]:
type(df)

pandas.core.frame.DataFrame

In [52]:
pd.array()
#if we press shift +tab  inside the arrar bracket we will get documentation

TypeError: array() missing 1 required positional argument: 'data'

In [ ]:
pd.