In [16]:
import pandas as pd 
df_1=pd.read_csv('books.csv')
df_2=pd.read_csv('data.csv')

In [5]:
df_1.head()

,title,rating,price,stock,book_link,img_link
0,A Light in the Attic,Three,£51.77,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/catalogue/../media/...
1,Tipping the Velvet,One,£53.74,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/catalogue/../media/...
2,Soumission,One,£50.10,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/catalogue/../media/...
3,Sharp Objects,Four,£47.82,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/catalogue/../media/...
4,Sapiens: A Brief History of Humankind,Five,£54.23,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/catalogue/../media/...

In [ ]:
df_2.head()

### 1) Creating a Empty DataFrame

In [9]:
df=pd.DataFrame()

In [14]:
df['title']=df_1['title']
df['upc']=df_2['upc']
df['category']=df_2['category']
df['price_e_tax']=df_2['price_e_tax']
df['price_i_tax']=df_2['price_i_tax']
df['tax']=df_2['tax']
df['rating']=df_1['rating']
df['reviews']=df_2['reviews']
df['quantity']=df_2['quantity']
df['stock']=df_1['stock']
df['book_link']=df_1['book_link']
df['img_link']=df_1['img_link']

SyntaxError: '[' was never closed (1882912204.py, line 11)

In [ ]:
df.to_csv('final.csv',index=false)