In [67]:
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm 
import pandas as pd 
df=pd.read_csv('books.csv')
df.head()

,title,rating,price,stock,book_link,img_link
0,A Light in the Attic,Three,£51.77,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/catalogue/../media/...
1,Tipping the Velvet,One,£53.74,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/catalogue/../media/...
2,Soumission,One,£50.10,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/catalogue/../media/...
3,Sharp Objects,Four,£47.82,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/catalogue/../media/...
4,Sapiens: A Brief History of Humankind,Five,£54.23,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/catalogue/../media/...

## Approach-1

In [ ]:
data=[]
for link in tqdm(df['book_link']):
     res= requests.get(link) 
     soup=BeautifulSoup(res.text,'html.parser')
     typ =soup.find('ul',class_='breadcrumb').find_all('a')[2].text
     upc     =soup.find('table',class_ ='table table-striped').find_all('td')[0].text
     price_x =soup.find('table',class_ ='table table-striped').find_all('td')[2].text[2:]
     price_i =soup.find('table',class_ ='table table-striped').find_all('td')[3].text[2:]
     tax     =soup.find('table',class_ ='table table-striped').find_all('td')[4].text
     qn      =soup.find('table',class_ ='table table-striped').find_all('td')[5].text
     reviews  =soup.find('table',class_ ='table table-striped').find_all('td')[6].text
     
     data.append([typ,price_x,price_i,tax,qn,upc,reviews])

  7%|▋         | 68/1000 [02:10<31:51,  2.05s/it]

## Approach-2

In [ ]:
data=[]
for link in tqdm(df['book_link']):
     res= requests.get(link) 
     soup=BeautifulSoup(res.text,'html.parser')
     typ =soup.find('ul',class_='breadcrumb').find_all('a')[2].text
     temp     =soup.find('table',class_='table table-striped').find_all('td')
     upc     =temp[0].text
     price_x =temp[2].text[2:]
     price_i =temp[3].text[2:]
     tax     =temp[4].text
     qn      =temp[5].text
     reviews  =stemp[6].text
     
     data.append([typ,price_x,price_i,tax,qn,upc,reviews])

In [ ]:
df=pd.DataFrame(data,columns=['category','price_e_tax','price_i_tax','tax','quantity','upc','reviews'])

In [ ]:
df.to_csv('data.csv',index=False)

In [ ]:
df.head